<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.mapper.GoodsInventoryLogMapper">

    <resultMap id="GoodsInventoryLogResult" type="com.example.demo.pojo.GoodsInventoryLog">
        <id property="id" column="ID"/>
        <result property="factoryID" column="FACTORY_ID"/>
        <result property="goodsID" column="GOODS_ID"/>
        <result property="managerID" column="MANAGER_ID"/>
        <result property="status" column="STATUS"/>
        <result property="outID" column="OUTBOUND_TYPE_ID"/>
        <result property="outName" column="OUTBOUND_TYPE_NAME"/>

        <result property="version" column="_VERSION"/>
        <result property="cuid" column="_CREATE_USER_ID"/>
        <result property="cname" column="_CREATE_USER_NAME"/>
        <result property="ctime" column="_CREATE_TIME"/>
        <result property="uuid" column="_UPDATE_USER_ID"/>
        <result property="uname" column="_UPDATE_USER_NAME"/>
        <result property="utime" column="_UPDATE_TIME"/>
    </resultMap>

    <select id="FindByInventoryLogID"  resultMap="GoodsInventoryLogResult">
    select * from TB_GOODS_INVENTORY_LOG where ID = #{id}
    </select>


</mapper>